* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

:root {
  --gray-text-color: #828282;
  --dark-gray-text-color: #828282;
  --main-text-color: #000000;
  --stroke-color: #eeeeee;
  --attention-color: #eb5757;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  min-width: 20rem;
}

.section-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1em;

  @media (max-width: 36em) {
    font-size: 1.5rem;
  }
}

.header {
  padding: 2rem 0;
}

.container {
  margin: 0 auto;
  max-width: 97rem;
  padding-right: 2rem;
  padding-left: 2rem;

  @media (max-width: 36em) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}