.select-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // .select-control__title

  &__title {
    font-size: 0.75rem;
    color: var(--dark-gray-text-color);
    margin-bottom: 0.5em;
    padding-left: 0.8rem;
  }

  // .select-control__select

  &__select {
    font-size: 0.875rem;
    padding: 0.2rem 0.5rem;

    @media (max-width: 36em) {
      font-size: 0.7rem;
    }
  }
}